
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic';
}

h5{
	font-family: 'Jeju Gothic';
	font-size: 18px;
}
body{
	font-family:'Jeju Gothic';
}
input[type="password"]{
	font-family:'Nanum Gothic' !important;
}

.alert-box{
	background-color: skyblue;
	padding: 20px;
	color: white;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	
}


.edit-text{
	font-family:'Jeju Gothic' !important;
	border: 0px ;
	border-radius: 20px;
	background:#D9D9D9;
	padding: 3px 10px 3px 10px;
	
	
}

.list{
	width: 100%;
	display:grid !important; 
	grid-template-columns: 1fr;
}

.list-title{
	grid-column-end: span 3;
	display:grid !important;
	grid-template-columns: 70% 30%;
	text-align:center;
}
.list-content{
	display:grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
}
.list-option{
	display:grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-end: span 4;
	border-bottom: 3px solid #ADADAD;
	margin-bottom: 20px;
	margin-top: 20px;
}

.list-option-item{
	font-size: min(3vw,30px);
}


.list-rows{
	display:grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-end: span 4;
}

.list-item{
	text-align: center;
	margin-bottom: 10px;
}


#email:valid{
	border-color: blue;
}


#email:invalid{
	border-color: red;
}

.option{
	width: 100%;
	display:grid !important; 
	grid-template-columns: 1fr;
	border-radius:20px;
	padding: 15px;
	border: 2px solid #826D6D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}

.option-title{
	grid-column-end: span 3;
	display:grid !important;
	text-align:left;
	border-bottom: 3px solid #ADADAD;
	padding-bottom: 5px;
	margin: 20px 0 10px 0;
	
}
.option-title-text{
	font-size: 30px;
	height: 55px;
	margin:0px;
	padding:2px 10px 2px 10px;
}

.option-content{
	display:grid !important;
	grid-column-end: span 3;	
	text-align: left;
	margin-bottom: 20px;
}



.option-content-item{
	
	font-size: 15px;
}

.option-content-text{
	width: 100%;	
	padding:5px 0px 0px 10px;
}

.option-rows{
	display:grid !important;
	grid-template-columns: 1fr 2fr 1fr;
	grid-column-end: span 3;
}

.option-item{
	text-align: center;
	margin-bottom: 10px;
}
.option-item-add{
	text-align: left;
	margin-bottom: 10px;
	grid-column-end: span 3;
}

.option-detail{
	grid-column-end: span 3;
}

.option-rows-text{
	grid-column-end: span 3;
}

.btn-option-delete{
	background: red;
}

.warning{
	color:red;
}
.btn-delete{
	color: #fff;
    background-color: red;
    border-color: red;
	
}

.btn-editNot{
	color: #fff;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}

.btn-deleteNot{
	color: #fff;
    background-color: #F0B6B6;
    border-color: #F0B6B6;
}




.form-survey-delete{
	text-align: center;
}

.component-textarea{
	border:0px;
}


.btn-add{
	color: #fff;
    background-color: #E598BB;
    border-color: #E598BB;
	
}

.select-option{
	border: 0px;
	border-radius: 5px;
	color: white;
    background-color: #E598BB;
    height: 100%;
    padding: 5px;
}
.result-content{
	padding:5px;
	width:100%;
	height:auto;
}


.wrapper {
   width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid #daa;
  border-radius: 20px;
  transition: 0.2s;
 }
.switch_label:hover {
    background: #efefef;
  }

.onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}

     /* checking style */
#switch_limit {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#switch_limit:checked+.switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch_limit:checked+.switch_label:hover {
    background: #e55;
}

#switch_limit:checked+.switch_label .onf_btn {
   left: 34px;
   background: #fff;
   box-shadow: 1px 2px 3px #00000020;
}


#switch_edit {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#switch_edit:checked+.switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch_edit:checked+.switch_label:hover {
    background: #e55;
}

#switch_edit:checked+.switch_label .onf_btn {
   left: 34px;
   background: #fff;
   box-shadow: 1px 2px 3px #00000020;
}
